<div
  id="game"
  class="game"
  data-game-id={@game_id}
  data-favors={@favors_json}
  data-lobby-image={~p"/images/lobby.jpg"}
>
  <canvas id="table" class="game__canvas"></canvas>
  <div id="hud" class="hud"></div>
  <div id="lobby-ui" class="lobby-ui"></div>
</div>
