<main id="home" class="home" style={"background-image: url(#{~p"/images/home.jpg"})"}>
  <div class="home__veil"></div>
  <section class="home__content">
    <h1 class="home__title">Orlog</h1>
    <p class="home__tagline">The Viking dice game from Assassin's Creed Valhalla</p>
    <button id="new-game" class="btn btn--primary btn--large" type="button">New game</button>
    <p class="home__hint">Share the link with a friend, cat or dog and roll for glory.</p>
  </section>
</main>
