<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script type="application/javascript" defer="defer" src="js/application.js"></script>
    <title>
      API
    </title>
  </head>
  <body>
    <main id="main"></main>
    <br>
    <form>
      <input id="message" type="text">
      <br>
      <br>
      <input type="submit" value="send" id="button">
    </form>
  </body>
</html>
