$primary: #211c1c;
$border: #403535;
$player__name: orange;
$player__title: #606060;

.news {
  flex: 0.35;
  min-width: 300px;
  height: auto;

  &__header {
    background-color: $primary;
    border-bottom: 2px solid $border;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 12.5px 25px;

    h2 {
      color: $player__name;
      line-height: 0;
      font-weight: 400;
      font-size: 1.2rem;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 10px 0;
    min-height: 165px;

    &__title {
      color: $player__name;
      line-height: 0;
      font-size: 1rem;
    }

    &__text {
      font-size: 0.8rem;
    }

    &__meta {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: $player__name;
      font-size: 0.75rem;
      font-weight: bold;
      color: orange;
    }
  }
}
