.game-board {
  background: #e8e8e8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__field {
    display: flex;
    flex-grow: 1;
    padding: 5rem 7rem;
  }

  &__field-bg {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    width: 100%;
    position: relative;
    justify-content: space-between;
    background: #606060;
  }
}
