.game-state-waiting {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url('./assets/background.jpg') no-repeat center center fixed;
  background-size: cover;

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 1040px;
    position: relative;
    top: 20%;
    justify-content: space-between;

    .content-box {
      flex: 0.8;
      display: flex;
      flex-direction: column;

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 225px;
      }
    }

    p {
      font-size: 1rem;
      text-align: center;
      margin-top: 20px;
      width: 400px;
    }

    input {
      font-size: 0.75rem;

      width: 400px;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      padding: 12.5px 25px;
      inset: 0;
    }
  }
}

@media (max-width: 575.98px) {
  .game-state-waiting {
    main {
      .content-box {
        width: 90vw;
        &__content {
          p {
            width: 300px;
          }
        }
      }

      input {
        display: none;
      }
    }
  }
}
