.dice {
  width: 30px;
  padding: 10px;
  border: 2px solid gray;

  &:hover {
    cursor: pointer;
  }

  &--kept {
    position: relative;
    top: 10px;
    margin-top: -10px;
  }

  &--locked {
    background: lightgrey;
  }

  &--tokens {
    border: 2px dashed blue;
  }
}
