.continue-button-container {
  position: absolute;
  top: 50%;
  left: 85%;

  > button {
    border-top-left-radius: 5px;
    min-width: 200px;
    font-family: 'Signika', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;
    width: auto;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    padding: 16px 18px 14px;
    margin-bottom: 20px;
    border: solid 1px #f39c12;
    color: #794d1f;
    text-shadow: 1px 1px #f39c12;
    box-shadow: 0px 6px 0px #d35400;
    background: linear-gradient(to left, #ce711e 50%, #e67e22 50%);
    background-size: 200% 100%;

    &:active {
      position: relative;
      top: 4px;
    }
  }
}
