.continue-button {
  position: absolute;
  top: 50%;
  left: 85%;

  border: 0;
  background-color: red;
  color: #fff;
  padding: 20px;
  transform: translate(0, -50%);

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }
}
