$primary: #211c1c;
$border: #403535;
$player__name: orange;
$player__title: #606060;

.player {
  font-family: 'Signika', sans-serif;
  display: flex;
  flex-grow: 1;
  align-items: center;
  border-radius: 50%;

  &__avatar {
    flex-basis: 160px;
    margin-top: 10px;

    img {
      width: 125px;
      height: 125px;
      object-fit: cover;
      border-radius: 50%;
      border: 8px solid green;
    }
  }

  &__info {
    flex-basis: 160px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;

    &__name {
      font-size: 22px;
      color: $player__name;
      font-weight: 200;
    }

    &__title {
      font-size: 0.8rem;
      color: $player__title;
    }
  }
}

.game-player {
  align-self: flex-start;
  position: relative;
  display: flex;
  align-items: center;

  &__avatar {
    width: 95px;
    height: 95px;

    border-radius: 50%;
    border: 10px solid silver;
    z-index: 5;
  }

  &__name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    height: 65px;
    left: -20px;
    border: 5px solid silver;
    color: #000;
    background-color: #fff;
  }

  &__health,
  &__tokens {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    z-index: 6;
  }

  &__health {
    background-color: red;
    color: #fff;
    top: 90px;
    left: 75px;
  }

  &__tokens {
    background-color: orange;
    color: #fff;
    top: 90px;
    left: 10px;
  }
}
