.player-area {
  align-self: flex-start;
  display: flex;

  width: 100%;
  height: 40%;
  min-height: 335px;

  &--self {
    .player {
      order: 3;
      align-self: flex-end;
      justify-content: flex-end;
    }

    .dice-grid {
      order: 2;
      align-self: flex-start;
    }

    .favor-area {
      order: 1;
      align-self: flex-end;
      justify-content: unset;

      .favor {
        transform: none;
      }
    }
  }
}
