.button {
  min-width: 120px;
  border: 0;
  padding: 10px 15px;
  background-color: orange;
  border-radius: 4px;
  color: lighten(#000000, 10%);

  &:hover {
    cursor: pointer;
    background-color: lighten(orange, 15%);
  }
}
