.dice {
  width: 60px;
  height: 60px;
  position: relative;
  transform-style: preserve-3d;
  user-select: none;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  > div {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #211c1c;
    border: 4px solid #403535;
  }

  .front {
    transform: rotateY(0deg) translateZ(30px);
  }
  .back {
    transform: rotateX(180deg) translateZ(30px);
  }
  .right {
    transform: rotateY(90deg) translateZ(30px);
  }
  .left {
    transform: rotateY(-90deg) translateZ(30px);
  }
  .top {
    transform: rotateX(90deg) translateZ(30px);
  }
  .bottom {
    transform: rotateX(-90deg) translateZ(30px);
  }

  &--toggleable {
    &:hover {
      cursor: pointer;
    }

    .front {
      &:hover {
        box-shadow: 0px 0px 20px 3px rgba(243, 156, 18, 1);
      }
    }
  }

  &--placeholder {
    visibility: hidden;
  }

  &--rolling {
    animation-name: roll-animation;
  }
}

.face {
  width: 60%;
  margin: 10%;
  padding: 10%;
  position: absolute;
  filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(194deg) brightness(104%) contrast(102%);

  &--tokens {
    border: 2px dashed #f39c12;
    width: calc(60% - 4px);
  }
}

@keyframes roll-animation {
  0% {
    transform: rotateX(90deg) rotateY(360deg) rotateZ(0deg) translateX(0);
  }
  100% {
    transform: rotateX(-180deg) rotateY(-180deg) rotateZ(-180deg) translateX(0);
  }
}
