.dice {
  width: 60px;
  height: 60px;
  margin: 15px;
  position: relative;
  transform-style: preserve-3d;
  user-select: none;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  > div {
    height: 60px;
    width: 60px;
    position: absolute;
    background-color: #211c1c;
    border: 4px solid #403535;
  }

  img {
    width: 30px;
    margin: 5px;
    padding: 10px;
    position: absolute;
    filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(194deg) brightness(104%)
      contrast(102%);
  }

  .tokens {
    border: 2px dashed #f39c12;
    padding: 8px;
  }

  &--toggleable {
    &:hover {
      cursor: pointer;
    }

    .active {
      &:hover {
        box-shadow: 0px 0px 20px 3px rgba(243, 156, 18, 1);
      }
    }
  }

  &--kept {
    position: relative;
    top: 10px;
    margin-top: -10px;
  }

  .front {
    transform: rotateY(0deg) translateZ(30px);
  }
  .back {
    transform: rotateX(180deg) translateZ(30px);
  }
  .right {
    transform: rotateY(90deg) translateZ(30px);
  }
  .left {
    transform: rotateY(-90deg) translateZ(30px);
  }
  .top {
    transform: rotateX(90deg) translateZ(30px);
  }
  .bottom {
    transform: rotateX(-90deg) translateZ(30px);
  }
}

.roll {
  animation-name: roll-animation;
}

@keyframes roll-animation {
  0% {
    transform: rotateX(90deg) rotateY(360deg) rotateZ(0deg) translateX(0);
  }
  100% {
    transform: rotateX(-180deg) rotateY(-180deg) rotateZ(-180deg) translateX(0);
  }
}
